# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Rider files
.idea/
*.sln.iml

# User-specific files
*.userprefs

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# JetBrains Rider
*.sln.iml

# Windows Thumbnail DB
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backup & swap files
*~
*.swp
*.bak
